:host {
  display: block;
  margin-top: auto;
  font-weight: 300;
  font-size: 15px;
  background-color: rgb(33, 33, 33);

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
  box-sizing: border-box;
  text-align: center;

}




