:host {
  display: block;
  color: rgba(0, 0, 0, .54);
  font-family: Roboto, "Helvetica Neue";
  height: 90%;
}

body {
  min-height:100%;/*or 100vh */
  position:relative;
}

app-footer{
  position: fixed;
  padding-top: 115px;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 100px;
  left: 0;
}

.content {
  height: 80%;
  padding-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  .content {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 599px) {
  .content {
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 100px;
  }
}


