app:
  name: anuglar2-spring-jwt

jwt:
  header: Authorization
  expires_in: 600 # 10 minutes
  secret: queenvictoria
  cookie: AUTH-TOKEN

logging:
  level:
    org.springframework.web: ERROR
    com.alto: DEBUG

#server:
#  address: 192.168.1.13
#  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    hikari:
      connectionTimeout: 20000
      maximumPoolSize: 5
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
       ddl-auto: update
       #ddl-auto: create
    show-sql: true

jasypt:
  encryptor:
    password: ebead908c52a477a91b3e27ae2161cb168eb5884
    algorithm: PBEWithMD5AndTripleDES

healthcaresource:
  username: ENC(xOeuanV1CqZK4Hym39uqxQ==)
  password: ENC(fZOYZq1bT0Xu3MIpA4cmMwPsitIeklzp)
  baseurl: https://ctms.contingenttalentmanagement.com/CirrusConcept/clearConnect/2_0/index.cfm?action=
