:host {
  text-align: center;
  max-width: 100%;
}

.dashboardbtn{
  width: 100%;
  height: 100%;
  color: lightcyan;
}

button{
  font-size: 16px;
  font-weight: bold;
}

mat-card {
  text-align: left;
  width: 100%;

}

mat-card-content{
  height: 50px;
}


@media screen and (max-width: 599px) {
  :host {
    max-width: 999px;
  }
}
