
<div *ngIf="dataSource">
  <div class="divider"><span></span><span> Job Board </span><span></span></div>
    <div class="thead">
      <input type="text" (keyup)="applyShiftFilter($event.target.value)" placeholder="search... " class="searchbox">
    </div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="tempid">
    <mat-header-cell *matHeaderCellDef> TempID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempid}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="client">
    <mat-header-cell *matHeaderCellDef> Client </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.client}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="shiftstart">
    <mat-header-cell *matHeaderCellDef> Begin </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.shiftstart | date: 'dd-MM-yyyy h:mm a'}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="shiftend">
    <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.shiftend | date: 'dd-MM-yyyy h:mm a'}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="orderid">
    <mat-header-cell *matHeaderCellDef> OrderId </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.orderid}} </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell  *matHeaderCellDef > Action </mat-header-cell>
    <mat-cell *matCellDef="let element" >
      <button mat-button (click)="confirmDialog(element)">Confirm</button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator
  [pageSizeOptions]="[5, 10]"
  showFirstLastButtons
></mat-paginator>
</div>




<!--Users Table-->
<div *ngIf="usersDataSource">
  <div class="divider"><span></span><span> Message Center </span><span></span></div>
  <div class="thead">
    <input type="text" (keyup)="applyUserFilter($event.target.value)" placeholder="search... " class="searchbox">
  </div>



  <mat-table [dataSource]="usersDataSource" class="mat-elevation-z8" matSort matSortActive="user"
             matSortDirection="asc" matSortDisableClear>>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Position Column -->
    <ng-container matColumnDef="checked">
      <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="tempid">
      <mat-header-cell *matHeaderCellDef> TempID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tempid}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="usertableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: usertableColumns;"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<form (ngSubmit)="Submit()">

<!--  <mat-form-field>-->
<!--    <mat-label>Recipients</mat-label>-->
<!--    <mat-select [formControl]="tempsFC" multiple>-->
<!--      <mat-option *ngFor="let temp of tempList" [value]="temp.tempid">{{temp.name}}</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

  <div class="pushcontent">
    <mat-form-field class="myTextArea">
      <mat-label>Notification Message</mat-label>
      <textarea matInput
                placeholder="Message"
                [formControl]="messageFC">
      </textarea>
    </mat-form-field>

    <div class="pushbutton">
      <button mat-raised-button type="submit" color="primary">SEND</button>
    </div>
  </div>
</form>
