

button {
  width: 20%;
}

form {
  padding-top: 40px;
  /*margin-bottom: 500px;*/
}

mat-select{
  display: inline;
}

textarea{
  max-width: 400px;
  min-width: 400px;
  min-height: 100px;
  max-height: 100px;
}

.thead{
  margin-top: 20px;
  margin-bottom: 10px;
}

.searchbox{
  height: 15px;
  width: 150px;
  font-size: 12px;
}

.myTextArea{
  max-width: 400px;
  min-width: 400px;
  min-height: 100px;
  max-height: 100px;
}

.pushcontent{
  display: block;
  padding-left: 50px;
  padding-bottom: 500px !important;
  padding-top: 40px;
}

.pushbutton{
  padding-left: 450px;
  display: block;
}

.clockbtn{
   margin-left: 50px;
 }

.my-error{
  margin-left: 50px;
  margin-right: 50px;
}

.my-modal-wrapper{
  width: 200px !important;
  height: 50px !important;
  background-color: #407b87 !important;
}

/*modal-container{*/
/*  width: 200px !important;*/
/*  height: 100px !important;*/
/*  background-color: #407b87 !important;*/
/*}*/


.divider {								/* minor cosmetics */
  display: table;
  font-size: 24px;
  text-align: center;
  width: 75%; 						/* divider width */
  margin: 60px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;							/* adjust vertical align */
  -moz-background-size: 100% 2px; 	/* line width */
  background-size: 100% 2px; 			/* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
  color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}
