
<div *ngIf="dataSource">
  <div class="divider"><span></span><span> Job Board </span><span></span></div>
    <div class="thead">
      <input type="text" (keyup)="applyShiftFilter($event.target.value)" placeholder="search... " class="searchbox">
    </div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="shift"
           matSortDirection="asc" matSortDisableClear>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="tempid">
    <mat-header-cell *matHeaderCellDef> TempID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempid}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="client">
    <mat-header-cell *matHeaderCellDef> Client </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.client}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="shiftstart">
    <mat-header-cell *matHeaderCellDef> Begin </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.shiftstart | date: 'dd-MM-yyyy h:mm a'}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="shiftend">
    <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.shiftend | date: 'dd-MM-yyyy h:mm a'}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="orderid">
    <mat-header-cell *matHeaderCellDef> OrderId </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.orderid}} </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell  *matHeaderCellDef > Action </mat-header-cell>
    <mat-cell *matCellDef="let element" >
      <button mat-button (click)="confirmDialog(element)">Confirm</button>
      <button mat-button (click)="removeDialog(element)">Remove</button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator
  [pageSizeOptions]="[5, 10]"
  showFirstLastButtons
></mat-paginator>
</div>


<button class="btn btn-primary clockbtn"
        (click)="openUpdateSessionModal(template2)">Update Session</button>




<!--Users Table-->
<div *ngIf="usersDataSource">
  <div class="divider"><span></span><span> Message Center </span><span></span></div>
  <div class="thead">
    <input type="text" (keyup)="applyUserFilter($event.target.value)" placeholder="search... " class="searchbox">
    <label>
    <input type="checkbox" [(ngModel)]='checkbox' id="isCheckBox" (change)="selectAll($event)"/>  Select All
	</label>
  </div>

  <mat-table [dataSource]="usersDataSource" class="mat-elevation-z8" matSort matSortActive="user"
             matSortDirection="asc" matSortDisableClear>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="checked">
      <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="tempid">
      <mat-header-cell *matHeaderCellDef> TempID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tempid}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="certs">
      <mat-header-cell *matHeaderCellDef> Certs </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.certs}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="usertableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: usertableColumns;"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<div *ngIf="InvalidClockVal == true" class="alert-danger my-error">
  <p>Invalid Selection: Must only select one User to change Shift status</p>
</div>

<button class="btn btn-primary clockbtn"
        (click)="openModal(template)">Clock IN/OUT</button>


<form (ngSubmit)="Submit()" class="pushcontent">

    <mat-form-field class="myTextArea">
      <mat-label>Notification Message</mat-label>
      <textarea matInput
                placeholder="Message"
                [formControl]="messageFC">
      </textarea>
    </mat-form-field>

    <div class="pushbutton">
      <button mat-raised-button type="submit" color="primary">SEND</button>
    </div>
</form>


<div class="my-modal-wrapper">
<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Enter Order ID</h4>

    <button type="button"
            class="close pull-right"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <form (ngSubmit)="Clock()">
      <input [formControl]="clockFC" matInput placeholder="Order ID" required type="text">
      <br>
      <br>
      <button mat-raised-button type="submit" color="primary">Clock</button>
      <br>
      <br>
      <p>The OrderId is found at the top of the Shift Details Screen of the Users Alto App.
        Ask the User to provide it to check into or out of Shift.</p>
    </form>

    <div *ngIf="InvalidClockResp == true" class="alert-danger my-error">
      <p>OrderID either doesn't exist or has already been fulfilled!</p>
    </div>
  </div>
</ng-template>
</div>

<div class="my-modal-wrapper">
  <ng-template #template2>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Enter Order ID</h4>

      <button type="button"
              class="close pull-right"
              (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
      <form (ngSubmit)="UpdateShift()">
        <input [formControl]="updateFC" matInput placeholder="Order ID" required type="text">
        <br>
        <br>
        <button mat-raised-button type="submit" color="primary">Clock</button>
        <br>
        <br>
        <p>The OrderId is found at the top of the Shift Details Screen of the Users Alto App.
          Or can be found in CSS / Healthcare Source</p>
      </form>

      <div *ngIf="InvalidUpdateResp == true" class="alert-danger my-error">
        <p>OrderID doesn't exist!</p>
      </div>

      <div *ngIf="showSessionUpdate == true">
      <h1 mat-dialog-title>Shift Sessions File</h1>
      <div mat-dialog-content>
        <p>Select a date range for based on shift start times</p>

          <md2-datepicker mdInput
                          id="sDate"
                          name="sDate"
                          [(ngModel)]="startDate"
                          placeholder="Shift Begin"
                          format = 'MM/dd/y HH:mm a'
                          type="datetime"></md2-datepicker>

          <md2-datepicker mdInput
                          id="eDate"
                          name="eDate"
                          [(ngModel)]="endDate"
                          placeholder="Shift End"
                          format = 'MM/dd/y HH:mm a'
                          type="datetime"></md2-datepicker>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onRangeClick()">Update</button>
      </div>
      </div>
    </div>
  </ng-template>
</div>
