button {
  width: 20%;
}

form {
  padding-bottom: 150px;
}

mat-select{
  display: inline;
}

textarea{
  max-width: 400px;
  min-width: 400px;
  min-height: 100px;
  max-height: 100px;
}

.pushcontent{
  display: inline;
  padding-left: 250px;
}

.pushbutton{
  padding-left: 700px;
  display: block;
}
